<ul>
<% @recipes.each do |rec| %>
<li>
  <a href="/recipes/<%= recipe.id %>">Name: <%= rec.name %></a>
  Ingredients: <%= rec.ingredients %> 
  Cook Time: <%= rec.cook_time %>
  </li>
  <% end %>
  </ul>
  
  